

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1b810d;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(46, 165, 10, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: green;
}

.note-input {
    margin-bottom: 20px;
}

.note-input input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.note-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.note-input button:hover {
    background-color: #0056b3;
}

.note-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.note-actions button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
    margin-left: 5px;
}

.note-actions button:hover {
    background-color: #f0f0f0;
}

.note-content {
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
